body
{
    background-color: #35654d;
}

/*
    Main screen =>
*/

h1
{
    color: white;
}

#btnStart
{
    margin-top: 20%;
    justify-content: center;
    display: flex;
    position: absolute;
    margin-left: 20px;
}

.title
{
    position: absolute;
    display: flex;
    bottom: 30%;
    right: 101%;
    justify-content: center;
    font-size: 45px;
}

.title2
{
    top: 62%;
    left: 55%;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.logoBJ
{
    position: relative; 
    left: 0; 
    top: 0;

    justify-content: center;
    margin-left: 140px;
    margin-bottom: 70%;
}

#behindCard
{
    position: relative;
    top: 0;
    left: 0;

    transform: rotate(-20deg);
}

#frontCard
{
    position: absolute;
    top: 8px;
    left: 30px;
}

/*
    Game start =>
*/

.dealer
{
    margin: auto;
    --margin-top: 15%;
    width: 50%;
    --height:15%;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;

    display: flex;
    justify-content: center;
}

.player
{
    margin: auto;
    margin-top: 0.5%;
    width: 50%;
    height:15%;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;

    display: flex;
    justify-content: center;
}

.dealerCards
{
    margin: auto;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
}

.playerCards
{
    margin: auto;
    margin-top: 20%;
    display: flex;
    justify-content: center;
}

/* button
{
    margin-top: 20%;
    --display: flex;
    justify-content: center;
    vertical-align: middle;
} */

img
{
    margin: 5px;
    display: flex;
    justify-content: center;
    width: auto;
    height: 150px;
}

span
{
    --font-size: 35px;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /* Whatever width you want */
  }

  .hidden 
{
    display: none;
}